{% extends "geoms/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load humanize %}

{% block head_title %}{% blocktrans %}Recent Ativity Map{% endblocktrans %}{% endblock %}

{% block extra_head %}
{{map.media}}
{% endblock %}


{% block body %}
    <h1>{% trans "All Geoms" %}</h1>
    {{map}}
    <div id="map-description" style="text-align:center;">
        Use the standard controls to navigate the map.  Double-clicking will zoom where you click.  Click on a marker for more information.
    </div>
{% endblock %}

